
    @model Kickit.Models.InvitorRecepientModel

@{
    ViewBag.Title = "RecepientForm";
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/CyborgTheme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>


@using (Html.BeginForm())

{
    @Html.ValidationSummary()
    ;

    <div class="form-group col-lg-10">
        Hey @ViewBag.fromname @ViewBag.receivername wants to KickIt!
    </div>


    <div class="form-group col-lg-10">@ViewBag.receivername is available to KickIt on:</div>

    <p>(Select a time)</p>

    <div> @Html.RadioButtonFor(x => x.recepientform.DateTime, "@ViewBag.date1") @ViewBag.date1)</div>
    <div> @Html.RadioButtonFor(x => x.recepientform.DateTime, "@ViewBag.date2") @ViewBag.date2)</div>
    <div> @Html.RadioButtonFor(x => x.recepientform.DateTime, "@ViewBag.date3") @ViewBag.date3)</div>

    <div class="form-group col-lg-10">Zipcode: @Html.TextBoxFor(x => x.recepientform.Zipcode)</div>

    <div class="form-group">
        <div class="col-lg-offset-1 col-md-10 text-center">
            <input type="submit" class="btn btn-danger btn-lg" value="LET'S' KICKiT'" />
        </div>
        </div>

        }
</body>

</html>