
    @model Kickit.Models.InvitorRecepientModel

@{
    ViewBag.Title = "RecepientForm";
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/CyborgTheme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>

<h2>title</h2>
<body>
    @using (Html.BeginForm())

    {
        @Html.ValidationSummary()
        ;

        <p>
            Hey @ViewBag.fromname @ViewBag.receivername wants to KickIt!
        </p>


        <p>@ViewBag.receivername is available to KickIt on:</p>
        <p>(Select a time)</p>




        <p> @Html.RadioButtonFor(x => x.recepientform.DateTime, "@ViewBag.date1") @ViewBag.date1)</p>
        <p> @Html.RadioButtonFor(x => x.recepientform.DateTime, "@ViewBag.date2") @ViewBag.date2)</p>
        <p> @Html.RadioButtonFor(x => x.recepientform.DateTime, "@ViewBag.date3") @ViewBag.date3)</p>
        <p></p>
        <p> Zipcode: @Html.TextBoxFor(x => x.recepientform.Zipcode) </p>

    }
</body>

</html>